<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>DNEVNIK PREHRANE</title>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }
      
      th, td {
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #b1b7b96e;
      }
      </style>
      <style>
        .borderexample {
         border-style:solid;
         border-color:#b1b7b96e;
         background-color:#b1b7b96e
        }
        </style>
  </head>

  <body>

    <nav class="navbar is-light">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          % if uporabnisko_ime:
          <form method="POST" action="/odjava/">
            <button class="button is-light">
              Odjavi se
            </button>
          </form>
          % else:
          <a class="button is-primary" href="/registracija/">
            <strong>Registriraj se</strong>
          </a>
          <a class="button is-light" href="/prijava/">
            Prijavi se
          </a>
          % end
        </div>
        <nav class="navbar is-light">
          <div class="container">
            <div class="navbar-brand">
              <span class="navbar-item">
                <strong style="font: size 30px;"; class="borderexample">DNEVNIK PREHRANE</strong>
              </span>
            </div>
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                </div>
              </div>
            </div>
          </div>
        </nav>
    <section class="section">
      {{!base}}
    </section>
  </body>

</html>