% rebase('base.html')
<!-- Main container -->
<nav class="level">
    <table>
        <tr>
            % for dan in dnevi:
            % if dan == aktualni_dan:
            <b>Trenutni dan: {{dan.ime}}</b>
            %end
            %end
            <p></p>
        </tr>
        <tr>
        <td><div class="level-left">
            <form method="POST" action="/zamenjaj-aktualni-dan/">
                <div class="buttons has-addons field is-horizontal">
                    % for indeks, dan in enumerate(dnevi):
                    % if dan == aktualni_dan:
                    <button class="button is-primary is-selected" name="indeks" value="{{indeks}}">
                        {{dan.ime}}
                    </button>
                    % else:
                    <button class="button" name="indeks" value="{{indeks}}">
                        {{dan.ime}}
                    </button>
                    % end
                    % end
                </div>
            </form>
        </div>
        </td>

        <td></td>

        <td>
            <div class="level-right">
                    <div class="level-item">
                        <a class="button is-info" href="/dodaj-dan/">DODAJ NOV DAN</a>
                    </div>
                </form>
            </div>

        </td>
    </tr>   
</nav>
<tr>

</tr>
% if aktualni_dan:

<table class="table is-hoverable is-fullwidth">
    <thead>
        <tr>
            <form method="POST" action="/dodaj/">
                <td></td>
                <td>
                    <div class="control has-icons-left">
                        <input class="input is-small" type="text" name="hrana" placeholder="hrana">
                        <span class="icon is-small is-left">
                            <i class="far fa-clipboard-check"></i>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="control has-icons-left">
                        <input class="input is-small" type="number" name="kalorije" placeholder="kalorije">
                        <span class="icon is-small is-left">
                            <i class="far fa-calendar-alt"></i>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="control">
                        <button class="button is-info is-small">dodaj</button>
                    </div>
                </td>
            </form>
        </tr>
    </thead>
    
    <tbody>

        <tr>
            <td></td>
            <td><b>HRANA</b></td>
            <td><b>KALORIJE</b></td>
        </tr>
        % for obrok in obroki:
        <tr>
            <td></td>
            <td>{{ obrok.hrana }}</td>
            <td>{{ obrok.kalorije }} kcal </td>
            <td>
                <form method="POST" action="/izbrisi_obrok/">
                    <input type="hidden" name="indeks" value="{{indeks}}">
                    <button class="w3-button" >
                        izbriši
                        <span class="icon is-small">
                        </span>
                    </button>
                </form>
            </td>
        </tr>
        %end
        <tr>
            %skupaj = 0
            %for obrok in obroki:
            %skupaj = skupaj + int(obrok.kalorije)
            %end
            %st_kalorij = skupaj
            <td><hr></td>
            <td><b> SKUPAJ KALORIJ:</b></td>
            <td>{{st_kalorij}} kcal</td>

        </tr>
    </tbody>


</table>

% else:

<p>Nimate še nobenega dneva. Prosim, dodajte ga!</p>